.TextArea {
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(190, 192, 192);
}
.Button {
  height: 40px;
  width: 100px;
  border: 2px solid rgb(190, 192, 192);
}
Button:hover {
  border: 2px solid aqua;
}
TextArea:hover {
  border: 2px solid aqua;
}
